# Dependencies
/vendor/
composer.lock

# Environment
.env

# Logs
logs/
*.log

# Cache
cache/
tmp/
var/cache/
public/false/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# DDEV
.ddev/.homeadditions
.ddev/.gitignore

# PHP
*.tmp